<div class="container">
    <div class="row mb-4">
      <div class="col">
        <h2>Book Management</h2>
      </div>
      <div class="col text-end">
        <button class="btn btn-primary" [routerLink]="['/admin/book/add']">
          <i class="fas fa-plus"></i> Add New Book
        </button>
      </div>
    </div>
  
    <div class="row">
      <ng-container *ngIf="book$ | async as books">
        <div class="col-md-4 mb-4" *ngFor="let book of books">
            <div class="card h-200">
                <img [src]="book.featuredImageUrl" class="card-img-top" alt="Book cover" 
                     style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <h6 class="card-subtitle mb-4 text-muted">{{ book.author }}</h6>
                    <h6 class="card-subtitle mb-4">Available Copies: {{ book.availableCopies }}</h6>
                    <!-- <p class="card-text">
                      <span class="badge" [ngClass]="book.available ? 'bg-success' : 'bg-danger'">
                        {{ book.available ? 'Available' : 'Borrowed' }}
                      </span> -->
                      <span class="badge bg-info p-2">Category: {{ book.category }}</span>
                    <!-- </p> -->
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-primary m-3" style="border-radius: 5px;" [routerLink]="['/admin/book/edit',book.id]" routerLinkActive="router-link-active">
                        <i class="fas fa-edit"></i> Edit
                      </a>
                      <button class="btn btn-sm btn-outline-danger m-3" style="border-radius: 5px;" (click)="onDelete(book.id)">
                        <i class="fas fa-trash"></i> Delete
                      </button>
                    </div>
                </div>
            </div>
          </div>
        </ng-container>
    </div>
  </div>