<div class="container">
    <h1 class="mt-3">Member List</h1>
    
    <ng-container *ngIf="member$ | async as members">
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of members">
            <td>{{ member.id }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.email }}</td>
            
          </tr>
        </tbody>
      </table>
    </ng-container>
  
    