<div class="container">
  <div class="row mb-4">
    <div class="col">
      <h2>Book Management</h2>
    </div>
  </div>

  <div class="row">
    <ng-container *ngIf="bookList.length > 0">
      <div class="col-md-4 mb-4" *ngFor="let book of bookList">
        <div class="card h-200">
          <img [src]="book.featuredImageUrl" class="card-img-top" alt="Book cover"
               style="height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-4 text-muted">{{ book.author }}</h6>
            <h6 class="card-subtitle mb-4">Available Copies: {{ book.availableCopies }}</h6>

            <span class="badge bg-info p-2">Category: {{ book.category }}</span>

            <div class="btn-group">
              <button class="btn btn-sm btn-outline-primary m-3"
                      style="border-radius: 5px;"
                      (click)="onBorrow(book)"
                      [disabled]="book.availableCopies <= 0">
                <i class="fa-solid fa-handshake"></i> Borrow
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
